on boot
    # Allow system to modify charging current
    chown system system /sys/class/power_supply/battery/constant_charge_current
    chmod 0664 /sys/class/power_supply/battery/constant_charge_current

# Monitor and apply Turbo Charging value via system property persist.sys.turbo_charge_current
on property:persist.sys.turbo_charge_current=*
    write /sys/class/power_supply/battery/constant_charge_current ${persist.sys.turbo_charge_current}
